body {
  background: rgb(250, 250, 250);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  overflow-y: scroll;
}

a {
  color: #3182ce;
  text-decoration: none;
}
a:hover {
  color: #63b3ed;
}
